.form__input_type_error {
  border-bottom-color: red;
}

.popup__input-error {
   visibility: hidden;
   font-weight: 400;
   font-size: 12px;
   color: #f00;
}

.popup__input-error_active {
   visibility: visible;
}

.button_inactive {
   color: #000;
   background: #fff;
   box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.15);
   border: 1px solid #000;
   opacity: 0.2;
   border-radius: 2px;
}

.button_inactive:hover {
   background: none;
   cursor: default;
}
